<div class="container-fluid signin-container d-flex align-items-center justify-content-center">
<div class="loginin-body">
        <h3 class="d-flex justify-content-center">Sign in to Twitter</h3>
        <form class="form" [formGroup]="loginForm" style="margin-top: 20px;">
            <div class="form-group">
                <input class="col-sm-7 form-control form-rounded" formControlName="email" placeholder="Enter Email">
                <div class="col-sm-7 error-field" *ngIf="loginForm.controls['email'].hasError('required')" >
                    Email is required
                </div>
            </div>
            <div class="form-group">
                <input type="password" class="col-sm-7 form-control form-rounded" formControlName="password"
                    placeholder="Enter Password">
                <div class="col-sm-7 error-field" *ngIf="loginForm.controls['password'].hasError('required')" >
                    Password is required
                </div>
            </div>
            <div align="center">
            <label class="control-label col-sm-10">New User? <a routerLink="/register">Register here </a></label>
            <div class="col-sm-10" >
                <button type="button" class="btn btn-dark login-button" (click)="onClick()">Login</button>
            </div>
            </div>
        </form>
</div>
</div>
