.follow-list-container{
    border-radius: 20px;
    border: 1px solid;
    padding: 20px;
    margin-top: 20px;
    background-color: rgb(247, 249, 249);
}
.follow-button{
    border-radius: 30px;
    width: 100px;
}
.users-row{
    padding-top: 15px;
}
